*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: monospace;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

h1{
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    padding: 20px;
    border: none;
    background-color: rgb(38, 57, 75);
    cursor: pointer;
    margin: 20px 10px 0px 0px;
}

span{
    margin-top: 20px;
    font-size: 25px;
}

:root {
    --clr-black: #222;
}
